<a href="https://colab.research.google.com/github/St4rLighr/anime_forecasting/blob/colab_codes/anilist_main_table_appending_for_ongoing_episodes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#first we import libraries to use
import pandas as pd
from google.colab import auth
import pandas_gbq

# Will collect credentials
auth.authenticate_user()

In [ ]:
# Query Bigquery
query_1 = "SELECT * FROM `anime-forecasting.anilist_api_batch1.anime_df_drop_ranks_exploded_bq_ver`"
query_2 = "SELECT * FROM `anime-forecasting.anilist_api_batch4.Batch_4_exploded_TV`"
query_3 = "SELECT * FROM `anime-forecasting.anilist_api_batch5.batch5_anime_dataset_split_ext_sites`"
query_4 = "SELECT * FROM `anime-forecasting.anilist_api_batch6.batch6_anime_dataset_split_ext_sites`"
query_5 = "SELECT * FROM `anime-forecasting.anilist_api_batch7.batch7_anime_dataset_split_ext_sites`"
query_6 = "SELECT * FROM `anime-forecasting.anilist_api_batch8.batch8_ anime_df_drop_ranks_exploded_bq_ver`"


table_1 = pandas_gbq.read_gbq(query_1, project_id="anime-forecasting")
table_2 = pandas_gbq.read_gbq(query_2, project_id="anime-forecasting")
table_3 = pandas_gbq.read_gbq(query_3, project_id="anime-forecasting")
table_4 = pandas_gbq.read_gbq(query_4, project_id="anime-forecasting")
table_5 = pandas_gbq.read_gbq(query_5, project_id="anime-forecasting")
table_6 = pandas_gbq.read_gbq(query_6, project_id="anime-forecasting")

Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|

## Checking for nulls in all table

*IGNORE NULLS IN EPISODES!!!!

In [ ]:
table_1.isnull().sum() #drop type column then drop null genres and tags and rename sites to external_sites

id                             0
idMal                          0
title                          0
format                         0
episodes                     494
duration                       0
status                         0
startDay                       0
startMonth                     0
startYear                      0
meanScore                      0
popularity                     0
favourites                     0
genres                        13
site                           0
type                           0
scoreDistribution_amount       0
scoreDistribution_score        0
statusDistribution_score       0
statusDistribution_status      0
rankings_context               0
tags                          43
start_date                     0
dtype: int64

In [ ]:
table_2.isnull().sum() #drop site, type and external_id columns, rename starYear to startYear

id                           0
idMal                        0
title                        0
format                       0
episodes                     0
duration                     0
status                       0
startDay                     0
startMonth                   0
starYear                     0
meanScore                    0
popularity                   0
favourites                   0
genres                       0
site                         0
type                         0
scoreDistribution_amount     0
scoreDistribution_score      0
statusDistribution_score     0
statusDistribution_status    0
rankings_context             0
tags                         0
external_id                  0
external_sites               0
start_date                   0
dtype: int64

In [ ]:
table_3.isnull().sum() #drop rankings_rank,id_1, idMal_1 columns, drop null sites, rename sites to external_sites

id                             0
idMal                          0
title                          0
format                         0
episodes                       3
duration                       0
status                         0
startDay                       0
startMonth                     0
startYear                      0
meanScore                      0
popularity                     0
favourites                     0
genres                         0
site                           0
type                           0
scoreDistribution_amount       0
scoreDistribution_score        0
statusDistribution_score       0
statusDistribution_status      0
rankings_rank                753
rankings_context               0
tags                           0
id_1                          10
idMal_1                       10
sites                         10
start_date                     0
dtype: int64

In [ ]:
table_4.isnull().sum()  #drop site,type, rankings_rank, external_id columns, drop null external_sites

id                             0
idMal                          0
title                          0
format                         0
episodes                       0
duration                       0
status                         0
startDay                       0
startMonth                     0
startYear                      0
meanScore                      0
popularity                     0
favourites                     0
genres                         0
site                           0
type                           0
scoreDistribution_amount       0
scoreDistribution_score        0
statusDistribution_score       0
statusDistribution_status      0
rankings_rank                708
rankings_context               0
tags                           0
external_id                    2
external_sites                 2
start_date                     0
dtype: int64

In [ ]:
table_5.isnull().sum() #drop site,type, rankings_rank,id_1, idMal_1 columns, drop null sites, rename sites to external_sites

id                             0
idMal                          0
title                          0
format                         0
episodes                       9
duration                       0
status                         0
startDay                       0
startMonth                     0
startYear                      0
meanScore                      0
popularity                     0
favourites                     0
genres                         0
site                           0
type                           0
scoreDistribution_amount       0
scoreDistribution_score        0
statusDistribution_score       0
statusDistribution_status      0
rankings_rank                748
rankings_context               0
tags                           0
id_1                           1
idMal_1                        1
sites                          1
start_date                     0
dtype: int64

In [ ]:
table_6.isnull().sum() #drop null tags

id                             0
idMal                          0
title                          0
format                         0
episodes                     771
duration                       0
status                         0
startDay                       0
startMonth                     0
startYear                      0
meanScore                      0
popularity                     0
favourites                     0
genres                         0
scoreDistribution_amount       0
scoreDistribution_score        0
statusDistribution_score       0
statusDistribution_status      0
rankings_context               0
tags                           1
external_sites                 0
start_date                     0
dtype: int64

## Renaming and dropping columns

### Table 1

*IGNORE NULLS IN EPISODES!!!!


To Do

drop type column

drop null genre and tags rows

rename site to external_sites

In [ ]:
table_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58065 entries, 0 to 58064
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         58065 non-null  Int64
 1   idMal                      58065 non-null  Int64
 2   title                      58065 non-null  object
 3   format                     58065 non-null  object
 4   episodes                   58065 non-null  Int64
 5   duration                   58065 non-null  Int64
 6   status                     58065 non-null  object
 7   startDay                   58065 non-null  Int64
 8   startMonth                 58065 non-null  Int64
 9   startYear                  58065 non-null  Int64
 10  meanScore                  58065 non-null  float64
 11  popularity                 58065 non-null  Int64
 12  favourites                 58065 non-null  Int64
 13  genres                     58052 non-null  object
 14  site                       58065 non-null  object
 15  type                       58065 non-null  object
 16  scoreDistribution_amount   58065 non-null  Int64
 17  scoreDistribution_score    58065 non-null  Int64
 18  statusDistribution_score   58065 non-null  Int64
 19  statusDistribution_status  58065 non-null  object
 20  rankings_context           58065 non-null  object
 21  tags                       58022 non-null  object
 22  start_date                 58065 non-null  dbdate
dtypes: Int64(12), dbdate(1), float64(1), object(9)
memory usage: 10.9+ MB

In [ ]:
# Drop type column
table_1 = table_1.drop(['type'], axis=1)

In [ ]:
table_1.dropna(subset="genres",inplace=True)

In [ ]:
table_1.dropna(subset="tags",inplace=True)

In [ ]:
table_1['external_sites'] = table_1['site']

In [ ]:
table_1 = table_1.drop(['site'], axis=1)

In [ ]:
table_1.isnull().sum()

id                             0
idMal                          0
title                          0
format                         0
episodes                     494
duration                       0
status                         0
startDay                       0
startMonth                     0
startYear                      0
meanScore                      0
popularity                     0
favourites                     0
genres                         0
scoreDistribution_amount       0
scoreDistribution_score        0
statusDistribution_score       0
statusDistribution_status      0
rankings_context               0
tags                           0
start_date                     0
external_sites                 0
dtype: int64

### Table 2

*IGNORE NULLS IN EPISODES!!!!


To Do

drop site, type and external_id columns

rename starYear to startYear

In [ ]:
table_2 = table_2.drop(['site','type','external_id'], axis=1)

In [ ]:
table_2['startYear'] = table_2['starYear']

In [ ]:
table_2 = table_2.drop(['starYear'], axis=1)

In [ ]:
table_2.isnull().sum()

id                           0
idMal                        0
title                        0
format                       0
episodes                     0
duration                     0
status                       0
startDay                     0
startMonth                   0
meanScore                    0
popularity                   0
favourites                   0
genres                       0
scoreDistribution_amount     0
scoreDistribution_score      0
statusDistribution_score     0
statusDistribution_status    0
rankings_context             0
tags                         0
external_sites               0
start_date                   0
startYear                    0
dtype: int64

### Table 3

*IGNORE NULLS IN EPISODES!!!!

To Do

drop rankings_rank,id_1, idMal_1, site, type columns

drop null sites

rename sites to external_sites

expand genres and tags columns

In [ ]:
table_3 = table_3.drop(['rankings_rank','id_1','idMal_1','site','type'], axis=1)

In [ ]:
table_3.dropna(subset="sites",inplace=True)

In [ ]:
table_3['external_sites'] = table_3['sites']

In [ ]:
table_3 = table_3.drop(['sites'], axis=1)

In [ ]:
def expand_column(column_name):
    # Check if the value is a list; if yes, return it as is
    if isinstance(column_name, list):
        return column_name
    # Otherwise, process it as a string
    return column_name.strip("[]").replace("'", "").split(", ")

In [ ]:
table_3['genres'] = table_3['genres'].apply(expand_column)
table_3['tags'] = table_3['tags'].apply(expand_column)

In [ ]:
table_3 = table_3.explode('genres').explode('tags')

In [ ]:
table_3.isnull().sum()

id                            0
idMal                         0
title                         0
format                        0
episodes                     12
duration                      0
status                        0
startDay                      0
startMonth                    0
startYear                     0
meanScore                     0
popularity                    0
favourites                    0
genres                        0
scoreDistribution_amount      0
scoreDistribution_score       0
statusDistribution_score      0
statusDistribution_status     0
rankings_context              0
tags                          0
start_date                    0
external_sites                0
dtype: int64

### Table 4

*IGNORE NULLS IN EPISODES!!!!

To Do

drop site,type, rankings_rank, external_id columns

drop null external_sites

expand genres and tags columns

In [ ]:
table_4 = table_4.drop(['site','type','rankings_rank','external_id'], axis=1)

In [ ]:
table_4['genres'] = table_4['genres'].apply(expand_column)
table_4['tags'] = table_4['tags'].apply(expand_column)

In [ ]:
table_4 = table_4.explode('genres').explode('tags')

In [ ]:
table_4.dropna(subset="external_sites",inplace=True)

In [ ]:
table_4.isnull().sum()

id                           0
idMal                        0
title                        0
format                       0
episodes                     0
duration                     0
status                       0
startDay                     0
startMonth                   0
startYear                    0
meanScore                    0
popularity                   0
favourites                   0
genres                       0
scoreDistribution_amount     0
scoreDistribution_score      0
statusDistribution_score     0
statusDistribution_status    0
rankings_context             0
tags                         0
external_sites               0
start_date                   0
dtype: int64

### Table 5

*IGNORE NULLS IN EPISODES!!!!


To Do

drop site,type, rankings_rank,id_1, idMal_1 columns

drop null sites

rename sites to external_sites

expand genres and tags columns

In [ ]:
table_5 = table_5.drop(['site','type','rankings_rank','id_1','idMal_1'], axis=1)

In [ ]:
table_5['external_sites'] = table_5['sites']

In [ ]:
table_5 = table_5.drop(['sites'], axis=1)

In [ ]:
table_5['genres'] = table_5['genres'].apply(expand_column)
table_5['tags'] = table_5['tags'].apply(expand_column)

In [ ]:
table_5 = table_5.explode('genres').explode('tags')

In [ ]:
table_5.dropna(subset="external_sites",inplace=True)

In [ ]:
table_5.isnull().sum()

id                             0
idMal                          0
title                          0
format                         0
episodes                     297
duration                       0
status                         0
startDay                       0
startMonth                     0
startYear                      0
meanScore                      0
popularity                     0
favourites                     0
genres                         0
scoreDistribution_amount       0
scoreDistribution_score        0
statusDistribution_score       0
statusDistribution_status      0
rankings_context               0
tags                           0
start_date                     0
external_sites                 0
dtype: int64

### Table 6

*IGNORE NULLS IN EPISODES!!!!


To Do

drop null tags rows

In [ ]:
table_6.dropna(subset="tags",inplace=True)

In [ ]:
table_6.isnull().sum()

id                             0
idMal                          0
title                          0
format                         0
episodes                     771
duration                       0
status                         0
startDay                       0
startMonth                     0
startYear                      0
meanScore                      0
popularity                     0
favourites                     0
genres                         0
scoreDistribution_amount       0
scoreDistribution_score        0
statusDistribution_score       0
statusDistribution_status      0
rankings_context               0
tags                           0
external_sites                 0
start_date                     0
dtype: int64

## Appending table

In [ ]:
tables = [table_1, table_2, table_3, table_4, table_5, table_6]
main_table = pd.concat(tables, ignore_index=True)

In [ ]:
main_table

,id,idMal,title,format,episodes,duration,status,startDay,startMonth,startYear,...,favourites,genres,scoreDistribution_amount,scoreDistribution_score,statusDistribution_score,statusDistribution_status,rankings_context,tags,start_date,external_sites
0,721,721,Princess Tutu,TV,38,16,FINISHED,16,8,2002,...,2248,Drama,84,10,1652,CURRENT,highest rated,Fairy Tale,2002-08-16,Hulu
1,721,721,Princess Tutu,TV,38,16,FINISHED,16,8,2002,...,2248,Drama,84,10,1652,CURRENT,highest rated,Dancing,2002-08-16,Hulu
2,721,721,Princess Tutu,TV,38,16,FINISHED,16,8,2002,...,2248,Drama,84,10,1652,CURRENT,highest rated,Meta,2002-08-16,Hulu
3,721,721,Princess Tutu,TV,38,16,FINISHED,16,8,2002,...,2248,Drama,84,10,1652,CURRENT,highest rated,Writing,2002-08-16,Hulu
4,721,721,Princess Tutu,TV,38,16,FINISHED,16,8,2002,...,2248,Drama,84,10,1652,CURRENT,highest rated,Henshin,2002-08-16,Hulu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334020,169935,56845,The Strongest Tank's Labyrinth Raids -A Tank w...,TV,12,23,FINISHED,7,1,2024,...,383,Fantasy,114,10,4927,CURRENT,Unknown,Male Protagonist,2024-01-07,Official Site
334021,169935,56845,The Strongest Tank's Labyrinth Raids -A Tank w...,TV,12,23,FINISHED,7,1,2024,...,383,Fantasy,114,10,4927,CURRENT,Unknown,Orphan,2024-01-07,Official Site
334022,169935,56845,The Strongest Tank's Labyrinth Raids -A Tank w...,TV,12,23,FINISHED,7,1,2024,...,383,Fantasy,114,10,4927,CURRENT,Unknown,Heterosexual,2024-01-07,Official Site
334023,169935,56845,The Strongest Tank's Labyrinth Raids -A Tank w...,TV,12,23,FINISHED,7,1,2024,...,383,Fantasy,114,10,4927,CURRENT,Unknown,Swordplay,2024-01-07,Official Site
334024,169935,56845,The Strongest Tank's Labyrinth Raids -A Tank w...,TV,12,23,FINISHED,7,1,2024,...,383,Fantasy,114,10,4927,CURRENT,Unknown,Incest,2024-01-07,Official Site

In [ ]:
main_table.info()


#isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334025 entries, 0 to 334024
Data columns (total 22 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         334025 non-null  Int64
 1   idMal                      334025 non-null  Int64
 2   title                      334025 non-null  object
 3   format                     334025 non-null  object
 4   episodes                   332451 non-null  Int64
 5   duration                   334025 non-null  Int64
 6   status                     334025 non-null  object
 7   startDay                   334025 non-null  Int64
 8   startMonth                 334025 non-null  Int64
 9   startYear                  334025 non-null  Int64
 10  meanScore                  334025 non-null  Float64
 11  popularity                 334025 non-null  Int64
 12  favourites                 334025 non-null  Int64
 13  genres                     334025 non-null  object
 14  scoreDistribution_amount   334025 non-null  Int64
 15  scoreDistribution_score    334025 non-null  Int64
 16  statusDistribution_score   334025 non-null  Int64
 17  statusDistribution_status  334025 non-null  object
 18  rankings_context           334025 non-null  object
 19  tags                       334025 non-null  object
 20  start_date                 334025 non-null  dbdate
 21  external_sites             334025 non-null  object
dtypes: Float64(1), Int64(12), dbdate(1), object(8)
memory usage: 60.2+ MB

In [ ]:
main_table.isnull().sum()

id                              0
idMal                           0
title                           0
format                          0
episodes                     1574
duration                        0
status                          0
startDay                        0
startMonth                      0
startYear                       0
meanScore                       0
popularity                      0
favourites                      0
genres                          0
scoreDistribution_amount        0
scoreDistribution_score         0
statusDistribution_score        0
statusDistribution_status       0
rankings_context                0
tags                            0
start_date                      0
external_sites                  0
dtype: int64

In [ ]:
main_table.to_csv("anilist_ongoing_eps_main_table_exploaded.csv", index=False)