<a href="https://colab.research.google.com/github/St4rLighr/anime_forecasting/blob/colab_codes/anilist_main_table_appending_for_excluding_ongoing_episodes_without_exploaded.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#first we import libraries to use
import pandas as pd
from google.colab import auth
import pandas_gbq

# Will collect credentials
auth.authenticate_user()

In [ ]:
# Query Bigquery
query_1 = "SELECT * FROM `anime-forecasting.anilist_api_batch1.dropped_eps_rank_bq_ver`"
query_2 = "SELECT * FROM `anime-forecasting.anilist_api_batch4.batch4_cleaned`"
query_3 = "SELECT * FROM `anime-forecasting.anilist_api_batch5.batch5_anime_dataset_excludes_eps_ranks`"
query_4 = "SELECT * FROM `anime-forecasting.anilist_api_batch6.batch6_dataset_excludes_eps_ranks`"
query_5 = "SELECT * FROM `anime-forecasting.anilist_api_batch7.batch7_dataset_excludes_eps_rank`"
query_6 = "SELECT * FROM `anime-forecasting.anilist_api_batch8.batch8_dropped_eps_rank_bq_ver`"


table_1 = pandas_gbq.read_gbq(query_1, project_id="anime-forecasting")
table_2 = pandas_gbq.read_gbq(query_2, project_id="anime-forecasting")
table_3 = pandas_gbq.read_gbq(query_3, project_id="anime-forecasting")
table_4 = pandas_gbq.read_gbq(query_4, project_id="anime-forecasting")
table_5 = pandas_gbq.read_gbq(query_5, project_id="anime-forecasting")
table_6 = pandas_gbq.read_gbq(query_6, project_id="anime-forecasting")

Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|

## Checking for nulls in all table

In [ ]:
table_1.isnull().sum() #drop type column, rename site to externalsites

id                           0
idMal                        0
title                        0
format                       0
episodes                     0
duration                     0
status                       0
startDay                     0
startMonth                   0
startYear                    0
meanScore                    0
popularity                   0
favourites                   0
genres                       0
site                         0
type                         0
scoreDistribution_amount     0
scoreDistribution_score      0
statusDistribution_score     0
statusDistribution_status    0
rankings_context             0
tags                         0
start_date                   0
dtype: int64

In [ ]:
table_2.isnull().sum()

id                           0
idMal                        0
title                        0
format                       0
episodes                     0
duration                     0
status                       0
startDay                     0
startMonth                   0
meanScore                    0
popularity                   0
favourites                   0
genres                       0
scoreDistribution_amount     0
scoreDistribution_score      0
statusDistribution_score     0
statusDistribution_status    0
rankings_context             0
tags                         0
external_sites               0
startYear                    0
start_date                   0
dtype: int64

In [ ]:
table_3.isnull().sum() #drop site, type,id_1, idMal_1 columns, drop null sites, rename sites to external_sites

id                            0
idMal                         0
title                         0
format                        0
episodes                      0
duration                      0
status                        0
startDay                      0
startMonth                    0
startYear                     0
meanScore                     0
popularity                    0
favourites                    0
genres                        0
site                          0
type                          0
scoreDistribution_amount      0
scoreDistribution_score       0
statusDistribution_score      0
statusDistribution_status     0
rankings_context              0
tags                          0
id_1                         10
idMal_1                      10
sites                        10
start_date                    0
dtype: int64

In [ ]:
table_4.isnull().sum()  #drop site,type, external_id columns, drop null external_sites

id                           0
idMal                        0
title                        0
format                       0
episodes                     0
duration                     0
status                       0
startDay                     0
startMonth                   0
startYear                    0
meanScore                    0
popularity                   0
favourites                   0
genres                       0
site                         0
type                         0
scoreDistribution_amount     0
scoreDistribution_score      0
statusDistribution_score     0
statusDistribution_status    0
rankings_context             0
tags                         0
external_id                  2
external_sites               2
start_date                   0
dtype: int64

In [ ]:
table_5.isnull().sum() #drop site,type,id_1, idMal_1 columns, drop null sites, rename sites to external_sites

id                           0
idMal                        0
title                        0
format                       0
episodes                     0
duration                     0
status                       0
startDay                     0
startMonth                   0
startYear                    0
meanScore                    0
popularity                   0
favourites                   0
genres                       0
site                         0
type                         0
scoreDistribution_amount     0
scoreDistribution_score      0
statusDistribution_score     0
statusDistribution_status    0
rankings_context             0
tags                         0
id_1                         1
idMal_1                      1
sites                        1
start_date                   0
dtype: int64

In [ ]:
table_6.isnull().sum()

id                           0
idMal                        0
title                        0
format                       0
episodes                     0
duration                     0
status                       0
startDay                     0
startMonth                   0
startYear                    0
meanScore                    0
popularity                   0
favourites                   0
genres                       0
scoreDistribution_amount     0
scoreDistribution_score      0
statusDistribution_score     0
statusDistribution_status    0
rankings_context             0
tags                         0
external_sites               0
start_date                   0
dtype: int64

## Renaming and dropping columns

### Table 1




To Do

drop type column

rename site to externalsites

In [ ]:
table_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1471 entries, 0 to 1470
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         1471 non-null   Int64
 1   idMal                      1471 non-null   Int64
 2   title                      1471 non-null   object
 3   format                     1471 non-null   object
 4   episodes                   1468 non-null   Int64
 5   duration                   1471 non-null   Int64
 6   status                     1471 non-null   object
 7   startDay                   1471 non-null   Int64
 8   startMonth                 1471 non-null   Int64
 9   startYear                  1471 non-null   Int64
 10  meanScore                  1471 non-null   float64
 11  popularity                 1471 non-null   Int64
 12  favourites                 1471 non-null   Int64
 13  genres                     1471 non-null   object
 14  site                       1471 non-null   object
 15  type                       1471 non-null   object
 16  scoreDistribution_amount   1471 non-null   Int64
 17  scoreDistribution_score    1471 non-null   Int64
 18  statusDistribution_score   1471 non-null   Int64
 19  statusDistribution_status  1471 non-null   object
 20  rankings_context           1471 non-null   object
 21  tags                       1471 non-null   object
 22  start_date                 1471 non-null   dbdate
dtypes: Int64(12), dbdate(1), float64(1), object(9)
memory usage: 281.7+ KB

In [ ]:
# Drop type column
table_1 = table_1.drop(['type'], axis=1)

In [ ]:
table_1['external_sites'] = table_1['site']

In [ ]:
table_1 = table_1.drop(['site'], axis=1)

In [ ]:
table_1.isnull().sum()

id                           0
idMal                        0
title                        0
format                       0
episodes                     0
duration                     0
status                       0
startDay                     0
startMonth                   0
startYear                    0
meanScore                    0
popularity                   0
favourites                   0
genres                       0
scoreDistribution_amount     0
scoreDistribution_score      0
statusDistribution_score     0
statusDistribution_status    0
rankings_context             0
tags                         0
start_date                   0
external_sites               0
dtype: int64

### Table 2



To Do

drop null titles, idMal, duration, startyear, meanscore, external_sites

drop site, type, isdisabled, rankings (except ranks and context) and external_id columns, avgscore,

rename starYear to startYear

filter by TV

create start date column

In [ ]:
table_2.isnull().sum()

id                           0
idMal                        0
title                        0
format                       0
episodes                     0
duration                     0
status                       0
startDay                     0
startMonth                   0
meanScore                    0
popularity                   0
favourites                   0
genres                       0
scoreDistribution_amount     0
scoreDistribution_score      0
statusDistribution_score     0
statusDistribution_status    0
rankings_context             0
tags                         0
external_sites               0
startYear                    0
start_date                   0
dtype: int64

### Table 3


To Do

drop id_1, idMal_1, site, type columns

drop null sites

rename sites to external_sites

In [ ]:
table_3 = table_3.drop(['id_1','idMal_1','site','type'], axis=1)

In [ ]:
table_3.dropna(subset="sites",inplace=True)

In [ ]:
table_3['external_sites'] = table_3['sites']

In [ ]:
table_3 = table_3.drop(['sites'], axis=1)

In [ ]:
table_3.isnull().sum()

id                           0
idMal                        0
title                        0
format                       0
episodes                     0
duration                     0
status                       0
startDay                     0
startMonth                   0
startYear                    0
meanScore                    0
popularity                   0
favourites                   0
genres                       0
scoreDistribution_amount     0
scoreDistribution_score      0
statusDistribution_score     0
statusDistribution_status    0
rankings_context             0
tags                         0
start_date                   0
external_sites               0
dtype: int64

### Table 4


To Do

drop site,type, external_id columns

drop null external_sites

In [ ]:
table_4 = table_4.drop(['site','type','external_id'], axis=1)

In [ ]:
table_4.dropna(subset="external_sites",inplace=True)

In [ ]:
table_4.isnull().sum()

id                           0
idMal                        0
title                        0
format                       0
episodes                     0
duration                     0
status                       0
startDay                     0
startMonth                   0
startYear                    0
meanScore                    0
popularity                   0
favourites                   0
genres                       0
scoreDistribution_amount     0
scoreDistribution_score      0
statusDistribution_score     0
statusDistribution_status    0
rankings_context             0
tags                         0
external_sites               0
start_date                   0
dtype: int64

### Table 5


To Do

drop site,type,id_1, idMal_1 columns

drop null sites

rename sites to external_sites

In [ ]:
table_5 = table_5.drop(['site','type','id_1','idMal_1'], axis=1)

In [ ]:
table_5['external_sites'] = table_5['sites']

In [ ]:
table_5 = table_5.drop(['sites'], axis=1)

In [ ]:
table_5.dropna(subset="external_sites",inplace=True)

In [ ]:
table_5.isnull().sum()

id                           0
idMal                        0
title                        0
format                       0
episodes                     0
duration                     0
status                       0
startDay                     0
startMonth                   0
startYear                    0
meanScore                    0
popularity                   0
favourites                   0
genres                       0
scoreDistribution_amount     0
scoreDistribution_score      0
statusDistribution_score     0
statusDistribution_status    0
rankings_context             0
tags                         0
start_date                   0
external_sites               0
dtype: int64

### Table 6



To Do

In [ ]:
table_6.dropna(subset="tags",inplace=True)

In [ ]:
table_6.isnull().sum()

id                             0
idMal                          0
title                          0
format                         0
episodes                     771
duration                       0
status                         0
startDay                       0
startMonth                     0
startYear                      0
meanScore                      0
popularity                     0
favourites                     0
genres                         0
scoreDistribution_amount       0
scoreDistribution_score        0
statusDistribution_score       0
statusDistribution_status      0
rankings_context               0
tags                           0
external_sites                 0
start_date                     0
dtype: int64

## Appending table

In [ ]:
tables = [table_1, table_2, table_3, table_4, table_5, table_6]
main_table = pd.concat(tables, ignore_index=True)

In [ ]:
main_table

,id,idMal,title,format,episodes,duration,status,startDay,startMonth,startYear,...,favourites,genres,scoreDistribution_amount,scoreDistribution_score,statusDistribution_score,statusDistribution_status,rankings_context,tags,start_date,external_sites
0,721,721,Princess Tutu,TV,38,16,FINISHED,16,8,2002,...,2248,"['Drama', 'Fantasy', 'Mahou Shoujo', 'Mystery'...",84,10,1652,CURRENT,highest rated,"['Fairy Tale', 'Dancing', 'Meta', 'Writing', '...",2002-08-16,Hulu
1,754,754,The Snow Queen,TV,36,20,FINISHED,22,5,2005,...,13,"['Adventure', 'Drama', 'Fantasy']",7,10,49,CURRENT,highest rated,"['Classic Literature', 'Travel', 'Fairy Tale',...",2005-05-22,Tubi TV
2,961,961,Virtua Fighter,TV,35,20,FINISHED,9,10,1995,...,28,"['Action', 'Adventure', 'Comedy']",9,10,112,CURRENT,highest rated all time,"['Martial Arts', 'Male Protagonist']",1995-10-09,Official Site
3,1018,1018,Orphen 2: Revenge,TV,23,20,FINISHED,2,10,1999,...,26,"['Adventure', 'Comedy', 'Fantasy']",23,10,130,CURRENT,highest rated,"['Magic', 'Kuudere']",1999-10-02,Official Site
4,1137,1137,Shinzo,TV,32,20,FINISHED,5,2,2000,...,35,"['Adventure', 'Drama', 'Fantasy', 'Sci-Fi']",27,10,124,CURRENT,highest rated,"['Post-Apocalyptic', 'Female Protagonist', 'Fu...",2000-02-05,Official Site
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2543,162209,54638,KAWAGOE BOYS SING -Now or Never-,TV,12,24,FINISHED,9,10,2023,...,21,"['Comedy', 'Music']",25,10,241,CURRENT,Unknown,"['Primarily Male Cast', 'Cute Boys Doing Cute ...",2023-10-09,"Official Site, Twitter, Instagram, Crunchyroll"
2544,155419,53262,Stardust Telepath,TV,12,24,FINISHED,9,10,2023,...,382,"['Comedy', 'Drama', 'Slice of Life']",40,10,2530,CURRENT,highest rated,"['Primarily Female Cast', 'Cute Girls Doing Cu...",2023-10-09,"Twitter, Official Site, Crunchyroll, YouTube"
2545,162803,54743,Dead Mount Death Play Part 2,TV,12,24,FINISHED,10,10,2023,...,554,"['Action', 'Fantasy', 'Supernatural', 'Thriller']",51,10,4006,CURRENT,Unknown,"['Necromancy', 'Isekai', 'Urban Fantasy', 'Ens...",2023-10-10,"Twitter, Official Site, Crunchyroll, Bilibili ..."
2546,162670,55644,Dr. STONE New World Part 2,TV,11,24,FINISHED,12,10,2023,...,1782,"['Action', 'Adventure', 'Comedy', 'Sci-Fi']",46,10,6556,CURRENT,Unknown,"['Post-Apocalyptic', 'Survival', 'Educational'...",2023-10-12,"Twitter, Instagram, Official Site, Crunchyroll..."
2547,161645,54492,The Apothecary Diaries,TV,24,23,FINISHED,22,10,2023,...,10978,"['Drama', 'Mystery']",131,10,25038,CURRENT,Unknown,"['Medicine', 'Female Protagonist', 'Historical...",2023-10-22,"Official Site, Twitter, Crunchyroll, Netflix"

In [ ]:
#check for duplicates
main_table.duplicated().sum()

0

In [ ]:
# main_table = main_table.drop_duplicates()

In [ ]:
main_table.info()


#isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2538 entries, 0 to 2537
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         2538 non-null   Int64
 1   idMal                      2538 non-null   Int64
 2   title                      2538 non-null   object
 3   format                     2538 non-null   object
 4   episodes                   2538 non-null   Int64
 5   duration                   2538 non-null   Int64
 6   status                     2538 non-null   object
 7   startDay                   2538 non-null   Int64
 8   startMonth                 2538 non-null   Int64
 9   startYear                  2538 non-null   Int64
 10  meanScore                  2538 non-null   float64
 11  popularity                 2538 non-null   Int64
 12  favourites                 2538 non-null   Int64
 13  genres                     2538 non-null   object
 14  scoreDistribution_amount   2538 non-null   Int64
 15  scoreDistribution_score    2538 non-null   Int64
 16  statusDistribution_score   2538 non-null   Int64
 17  statusDistribution_status  2538 non-null   object
 18  rankings_context           2538 non-null   object
 19  tags                       2538 non-null   object
 20  start_date                 2538 non-null   dbdate
 21  external_sites             2538 non-null   object
dtypes: Int64(12), dbdate(1), float64(1), object(8)
memory usage: 466.1+ KB

In [ ]:
main_table.isnull().sum()

id                           0
idMal                        0
title                        0
format                       0
episodes                     0
duration                     0
status                       0
startDay                     0
startMonth                   0
startYear                    0
meanScore                    0
popularity                   0
favourites                   0
genres                       0
scoreDistribution_amount     0
scoreDistribution_score      0
statusDistribution_score     0
statusDistribution_status    0
rankings_context             0
tags                         0
start_date                   0
external_sites               0
dtype: int64

In [ ]:
main_table.to_csv("anilist_excluding_eps_main_table.csv", index=False)